*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
	width: 90%;
	margin: 0 auto;
	margin-top: 5em; 
	max-width: 1200px;
}

#periodic-table{
	width: 100%;
	clear: both;
	display: block;
}

.row{
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.col-sm{
	width: 100%;
	display: block;
	margin: 0 auto;
}

.ele-az{
	width: 10px;
	height: 10px;
	padding: 30px;
	display: inline-block;
	border-color: solid black;
	background-color: #66A3F2;
}

.ele-ro{
	width: 10px;
	height: 10px;
	padding: 30px;
	display: inline-block;
	background-color: #FB9899;
}

.ele-am{
	width: 10px;
	height: 10px;
	padding: 30px;
	display: inline-block;
	background-color: #F2B705;
}

.ele-ver{
	width: 10px;
	height: 10px;
	padding: 30px;
	display: inline-block;
	background-color: #26BF21;
}